html
  head
    title= title
  body
    h1 About:
    h3 Node.js demo application
    h5 App has three pages:
    h5  - Main: Show server internal ip address for load balancing visualization
    h5
    h5  - Info: Show a some server's information (type os, release, ip, Node version)
    h5
    h5  - About: Show information about this application
    h1
    a(href='/') Main page
